includes:
  - ./vendor/nunomaduro/larastan/extension.neon

parameters:

  paths:
    - src

  level: 8

  ignoreErrors:
    - '#Property [a-zA-Z\\]+::\$([a-zA-Z]+)? \(resource\) does not accept CurlHandle.#'
    - '#Property [a-zA-Z\\]+::\$([a-zA-Z]+)? \(resource\) does not accept CurlMultiHandle.#'
    - '#Property [a-zA-Z\\]+::\$([a-zA-Z]+)? \(resource\) does not accept resource\|false.#'
    - '#Parameter \#1 \$multi_handle of function curl_multi_remove_handle expects CurlMultiHandle, resource given.#'
    - '#Parameter \#2 \$handle of function curl_multi_remove_handle expects CurlHandle, resource given.#'
    - '#Parameter \#1 \$handle of function curl_setopt expects CurlHandle, resource given.#'
    - '#Parameter \#1 \$handle of function curl_getinfo expects CurlHandle, resource given.#'
    - '#Parameter \#1 \$multi_handle of function curl_multi_exec expects CurlMultiHandle, resource given.#'
    - '#Parameter \#1 \$multi_handle of function curl_multi_close expects CurlMultiHandle, resource given.#'
    - '#Parameter \#3 \$length of function mb_substr expects int\|null, int<0, max>\|false given#'

  checkMissingIterableValueType: false
