parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$handle of function curl_setopt expects CurlHandle, resource given\\.$#"
			count: 7
			path: src/DockerClient.php

		-
			message: "#^Parameter \\#3 \\$length of function mb_substr expects int\\|null, int\\<0, max\\>\\|false given\\.$#"
			count: 1
			path: src/DockerClient.php

		-
			message: "#^Parameter \\#1 \\$handle of function curl_setopt expects CurlHandle, resource given\\.$#"
			count: 11
			path: src/Drivers/SocketDockerDriver.php

		-
			message: "#^Property Soyhuce\\\\Docker\\\\Drivers\\\\SocketDockerDriver\\:\\:\\$handle \\(resource\\) does not accept resource\\|false\\.$#"
			count: 1
			path: src/Drivers/SocketDockerDriver.php

		-
			message: "#^Parameter \\#1 \\$handle of function curl_getinfo expects CurlHandle, resource given\\.$#"
			count: 2
			path: src/Model/StreamResponse.php

		-
			message: "#^Parameter \\#1 \\$multi_handle of function curl_multi_close expects CurlMultiHandle, resource given\\.$#"
			count: 1
			path: src/Model/StreamResponse.php

		-
			message: "#^Parameter \\#1 \\$multi_handle of function curl_multi_exec expects CurlMultiHandle, resource given\\.$#"
			count: 2
			path: src/Model/StreamResponse.php

		-
			message: "#^Parameter \\#1 \\$multi_handle of function curl_multi_remove_handle expects CurlMultiHandle, resource given\\.$#"
			count: 1
			path: src/Model/StreamResponse.php

		-
			message: "#^Parameter \\#2 \\$handle of function curl_multi_remove_handle expects CurlHandle, resource given\\.$#"
			count: 1
			path: src/Model/StreamResponse.php

		-
			message: "#^Property Soyhuce\\\\Docker\\\\Model\\\\StreamResponse\\:\\:\\$curlHandle \\(resource\\) does not accept CurlHandle\\.$#"
			count: 1
			path: src/Model/StreamResponse.php

		-
			message: "#^Property Soyhuce\\\\Docker\\\\Model\\\\StreamResponse\\:\\:\\$curlMultiHandle \\(resource\\) does not accept CurlMultiHandle\\.$#"
			count: 1
			path: src/Model/StreamResponse.php
